<html>
	<head>
		<meta charset="UTF-8"><title>Quiz</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />	
	</head>
<body>
		<br>		
		<%= respuesta %> <p>
		<a href="/quizes/question"> Intentelo otra vez mamónazo </a>
</body>
</html>
