<table>
<% for (var i in quizes) { %>
	<tr>
		<td>
			<a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].question %></a>
		</td>
	</tr>
<% } %>
</table>
<form method="get" action="/quizes">
	<br>Introduce una pregunta a buscar:<p>
	<input type="text" name="search" value="" placeholder="Escriba aquí">
	<input type="submit" value="Buscar">
</form> 
<a href="/quizes/new"><button type="button">Crear Pregunta</button></a>