		<form method="get" action="/quizes/result">
		<br>
		Pregunta: <%= question %> <p>
		<input type ="text" name="answer" value="<%= answer %>" placeholder="Responder aquí"/>
		<input type="submit" value="Enviar">
		</form>

